.dropdown-item.active {
    background-color: #0e246894;
    font-weight: bold;
    color: #fff !important;               /* buat teks utama jadi putih */
}

.dropdown-item.active i {
    color: #fff !important;               /* buat icon jadi putih */
}

.dropdown-item.active small {
    color: #e0e0e0 !important;            /* buat category jadi abu terang */
}

#dataTable th {
    text-align: center;
}

.center-table {
    text-align: center;
}

.wd-5 {
    width: 5%;
}

.bg-orange {
    background-color: #e07816;
}

.bg-gradient-orange {
    background-color: #e07816;
    background-image: linear-gradient(180deg, #c06d1f 10%, #373840 100%);
    background-size: cover;
}

.bg-danger-pudar {
    background-color: rgba(220, 53, 69, 0.6) !important; /* merah agak transparan */
    color: #fff !important; /* teks tetap putih */
}

.bg-warning-pudar {
    background-color: rgba(255, 193, 7, 0.6) !important; /* kuning agak transparan */
    color: #fff !important;
}

.bg-success-pudar {
    background-color: rgba(40, 167, 69, 0.6) !important; /* hijau agak transparan */
    color: #fff !important;
}

.fixed-pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}
